<style>
* {
  font-family: "arial", san-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  list-style:none;
  padding: 0;
}
li {
  display: flex; 
  gap: 1ch; 
  margin: 1px auto;
  padding: 4px 8px; 
  border: 1px solid lightgray; 
  border-radius: 4px; 
  align-items: center;
}
.article-title {
  margin-right: auto;
}
a {
  text-decoration: none;
  font-family: inherit;
}
.delete a {
  color: red;
  font-weight: 900;
}
@media screen and (min-width: 45em) {
  header {
    margin: auto;
    width: 30em;
  }

  .content {
    width: 30em;
    margin: 0 auto;
  }
}
</style>

<header>
<h1>Articles</h1>

<span>Number of Public Articles:
  <%= Article.public_count %>
</span>
</header>

<div class='content'>

  <button>
    <a href="/articles/new">New Article</a>
  </button>

  <ul>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <%= render "li", article: article %>
      <% end %>
    <% end %>
    </ul>

</div>